<% include ../../template/head.ejs %>
<% include ../../template/style.ejs %>
<% include ../../template/header.ejs %>
<% include ../../template/menu.ejs %>

<!-- Content -->

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h5 class="content-header-title float-left pr-1 mb-0">List Restaurant</h5>
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        <i class="bx bx-home-alt"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="">SWJ</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a href="/swj/restaurant">List Restaurant</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a href="">Add</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">

            <!-- Basic Horizontal form layout section start -->
            <section id="basic-horizontal-layouts">
                <div class="row match-height">
                    <div class="col-md-6 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Form Restaurant</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form id="edit_data_form">
                                        <div class=" form-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Nama Restaurant</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="text" id="nama" class="form-control" name="nama"
                                                        required placeholder="Pago Restaurant"
                                                        data-validation-required-message="This field is required"
                                                        value="<%= restaurant.name.trim() %>">
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Latitude</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="text" id="latitude" class="form-control"
                                                        name="latitude" required placeholder="-6.8810365"
                                                        data-validation-required-message="This field is required"
                                                        value="<%= restaurant.lat.trim() %>">
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Longitude</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="text" id="longitude" class="form-control"
                                                        name="longitude" required placeholder="107.5662972"
                                                        data-validation-required-message="This field is required"
                                                        value="<%= restaurant.lon.trim() %>">
                                                </div>
                                                <div class="col-md-4">
                                                    <label>ID Banner</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <select class="custom-select" id="id_banner" name="id_banner"
                                                        required
                                                        data-validation-required-message="This field is required">
                                                        <option value="">Select Your ID Banner</option>
                                                        <option value="1" selected>BNR001</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Deskripsi</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <textarea type="text" id="description" class="form-control"
                                                        name="description" placeholder="Makanan sehat dan bergizi"
                                                        required
                                                        data-validation-required-message="This field is required"><%= restaurant.description %></textarea>
                                                </div>
                                                <div class="col-sm-12 d-flex justify-content-end">
                                                    <button type="submit"
                                                        class="btn btn-primary mr-1 mb-1 form-group">Edit</button>
                                                    <button type="reset"
                                                        class="btn btn-light-secondary mr-1 mb-1">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Basic Horizontal form layout section end -->

        </div>
    </div>
</div>
<!-- END: Content-->

<!-- End Content -->

<% include ../../template/footer.ejs %>
<% include ../../template/script.ejs %>
<% include ../../template/bottom.ejs %>