<% include ../../template/head.ejs %>
<% include ../../template/style.ejs %>
<% include ../../template/header.ejs %>
<% include ../../template/menu.ejs %>

<!-- Content -->

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h5 class="content-header-title float-left pr-1 mb-0">
                            Role
                        </h5>
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        <i class="bx bx-home-alt"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="">System</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a href="/system/role">
                                        List Role
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">


        </div>
    </div>
</div>
<!-- END: Content-->

<!-- End Content -->

<% include ../../template/footer.ejs %>
<% include ../../template/script.ejs %>
<% include ../../template/bottom.ejs %>